// Dark mode text colors
.dark.hrw-mode {
    color: darken(#000000, 30%);
    z-index: 10;
    
    p, h1, h2, h3, h4, h5, h6, span:not(.code-text *) {
        color: darken(#000000, 30%);
        z-index: 10;
    }
}
